<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>crm</display-name>
  <!--欢迎页面-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--启用过滤器过滤乱码-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.yjxiaoxu.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <!--启用过滤器防止恶意登录-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yjxiaoxu.crm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <!--监听器获取用户字典-->
  <listener>
    <listener-class>com.yjxiaoxu.crm.web.listener.DictionariesListener</listener-class>
  </listener>
  <!--用户控制器-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.yjxiaoxu.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <!--验证用户登录后台-->
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--市场活动控制器-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.yjxiaoxu.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <!--获取所有的用户信息-->
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <!--保存市场活动-->
    <url-pattern>/workbench/activity/save.do</url-pattern>
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
    <!--删除市场活动-->
    <url-pattern>/workbench/activity/delete.do</url-pattern>
    <!--获取用户列表和市场活动列表-->
    <url-pattern>/workbench/activity/edit.do</url-pattern>
    <!--更新市场活动信息-->
    <url-pattern>/workbench/activity/update.do</url-pattern>
    <!--使用传统方式跳转到市场活动详情-->
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <!--通过市场活动id获取市场活动详细-->
    <url-pattern>/workbench/activity/refresh.do</url-pattern>
    <!--根据id删除市场活动备注-->
    <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
    <!--保存备注信息-->
    <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
    <!--更新备注-->
    <url-pattern>/workbench/activity/updateRemark.do</url-pattern>
  </servlet-mapping>
  <!--线索控制器-->
  <servlet>
    <servlet-name>ClueController</servlet-name>
    <servlet-class>com.yjxiaoxu.crm.workbench.web.controller.ClueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClueController</servlet-name>
    <!--获取所有用户信息-->
    <url-pattern>/workbench/clue/getUserList.do</url-pattern>
    <!--添加线索-->
    <url-pattern>/workbench/clue/saveClue.do</url-pattern>
    <!--刷新线索列表-->
    <url-pattern>/workbench/clue/pageList.do</url-pattern>
    <!--删除线索-->
    <url-pattern>/workbench/clue/delete.do</url-pattern>
    <!--根据线索id获取线索详细信息-->
    <url-pattern>/workbench/clue/getClue.do</url-pattern>
    <!--根据线索id修改线索信息-->
    <url-pattern>/workbench/clue/update.do</url-pattern>
    <!--传统方式通过id跳转到线索详细信息页面-->
    <url-pattern>/workbench/clue/detail.do</url-pattern>
    <!--根据线索id获取备注信息-->
    <url-pattern>/workbench/clue/getClueRemarkById.do</url-pattern>
    <!--根据线索备注id删除备注信息-->
    <url-pattern>/workbench/clue/deleteClueRemark.do</url-pattern>
    <!--根据线索备注id删除备注信息-->
    <url-pattern>/workbench/clue/saveClueRemark.do</url-pattern>
    <!--根据线索id获取关联关系-->
    <url-pattern>/workbench/clue/refreshRelation.do</url-pattern>
    <!--根据关联关系id解除关联关系-->
    <url-pattern>/workbench/clue/relieveRelation.do</url-pattern>
    <!--根据市场活动名称模糊查询市场活动-->
    <url-pattern>/workbench/clue/getActivityByName.do</url-pattern>
    <!--根据市场活动id和线索id关联市场活动-->
    <url-pattern>/workbench/clue/relation.do</url-pattern>
    <!--获取全部市场活动或者通过市场活动名称获取模糊查询市场活动-->
    <url-pattern>/workbench/clue/getActivityListOrByName.do</url-pattern>
    <!--线索转换-->
    <url-pattern>/workbench/clue/convert.do</url-pattern>
  </servlet-mapping>
  <!--交易控制器-->
  <servlet>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.yjxiaoxu.crm.workbench.web.controller.TranController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <!--传统操作跳转到创建交易页面-->
    <url-pattern>/workbench/transaction/add.do</url-pattern>
    <!--获取客户名称，支持自动补全-->
    <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
    <!--获取市场活动源，支持模糊查询-->
    <url-pattern>/workbench/transaction/getActivitySource.do</url-pattern>
    <!--通过联系人名字获取联系人对象，支持模糊查询-->
    <url-pattern>/workbench/transaction/getContactsByName.do</url-pattern>
    <!--保存交易-->
    <url-pattern>/workbench/transaction/save.do</url-pattern>
    <!--刷新交易列表-->
    <url-pattern>/workbench/transaction/pageList.do</url-pattern>
    <!--根据id获取交易详细信息-->
    <url-pattern>/workbench/transaction/detail.do</url-pattern>
    <!--根据交易id获取交易历史-->
    <url-pattern>/workbench/transaction/getTranHistory.do</url-pattern>
  </servlet-mapping>
</web-app>
